
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!--<div class="shadow">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <img class="logo" src="assets/images/pure.jpeg">
</div>-->
  <img src="assets/images/pure.jpeg" class="ri" />
<!--<div class="backgroundcolor">-->
<!--  <div style="background-size: 1200px 600px;" [ngStyle]="{backgroundImage:'url(./assets/images/pure.jpeg)'}"  >-->


<!--  </div>-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="responsive-two-columns" >
    <div>
      <h2 class="colour1">THE HOMEEEE OF PERFECT LIPS.</h2>
      <h3 class="colour1">Entrümpelungen in Berlin und Brandenburg</h3>
      <div class="slide-left">
        <p>
          Whether you are looking to add volume to thin lips, even out asymmetrical lips, plump
        </p>
        <p>
          perfection or simply to enhance and define your cupid’s bow, then the London Lip Clinic
        </p>
        <p>
          Street is the place to be seen (or not, should you prefer to opt for our ultra discrete
        </p>
        <p>
          VIP service).
        </p>
        <p>  With a wealth of understanding and experience, Rupesh Shah has an
        </p>
        <p>
          impossibly beautiful lips using only non-surgical techniques. His artistry and
        </p>
        <p>
          to detail combined with use of the very best lip filler products makes
        </p>
        <p>
          mouths!
        </p>
        <p>  Transparenz ist für die BABAS Dienstleistungen oberstes Gebot.
        </p>
        <p>
          Wohnungsauflösung in Berlin unkomplizierte und schnelle Lösungen.
        </p>
        <p>
          uns als seriösem Dienstleister für die Wohnungsauflösung eine
        </p>
        <p>
          Preiskalkulation. So wissen Sie, was finanziell auf Sie zukommt.
        </p>
        <p>
          Positionen fair und basierend auf unseren Erfahrungswerten.
        </p>
        <p>
          auf die Quadratmeter der aufzulösenden Wohnung in Berlin an.
        </p>
      </div>
    </div>
    <div>
        <img src="assets/images/happy.png" width="600" height="600">
    </div>
    </div>
  <div class="client-count-wrp mt-100 ">
    <div class="responsive-three-columns">
      <div class="item">
        <img src="assets/icons/task.png" class="w3-round">
        <div class="cards">
          <br>
          <h4>{{projectcount}}</h4>
          <p>Project Completed</p>
        </div>
      </div>
      <div class="item">
        <img src="assets/icons/customer-service.png" class="w3-round">
        <div class="cards">
          <br>
          <h4>{{customerfeedback + "%"}}</h4>
          <p>Customer Satisfaction</p>
        </div>
      </div>
      <div class="item">
        <img class= deneme1 src="assets/icons/handshake1.png" class="w3-round">
        <div class="cards">
          <br>
          <h4>{{accuratecount + "%"}}</h4>
          <!--concat % sign-->
          <p>Accuracy</p>
        </div>
      </div>
      <div class="item">
        <img class= deneme1 src="assets/icons/group.png" class="w3-round">
        <div class="cards">
          <br>
          <h4>{{clientcount}}</h4>
          <p>Clients</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="center-div" style="text-align:center">
    <h2 class="colour1">BIGGER ISN’T ALWAYS BETTER.</h2>
    <img src="assets/images/woman.png" width="600" height="400">
    <br>
    <br>
    <br>
    <h2 class="colour1"> Hello doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>
    <br>
    <div class="slide-left1">
      <p>
        All patients are unique, and as a medical prescriber in London with excellent
      </p>
      <p>
        anatomical understanding, he will listen to your
      </p>
      <p>
        objectives and can assess not just your lips, but your facial proportions
      </p>
      <p>
        as a whole, to advise on the most appropriate amount
      </p>
      <p>
        of lip filler and where to apply this for maximum effect whilst maintaining
      </p>
      <p>
        natural looking lips.
      </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="naturalborder">
      <h2 class="colour1"> Rupesh doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>
      <p class="colour2">
        Rupesh based in world famous Harley Street London, believes that the most exceptional lips appear to have had nothing injected at all. They are simply balanced, full and natural looking lips. Through employing the non-surgical lip filler techniques that Rupesh has perfected, he knows you will be leaving the London Lip Clinic with nothing but a smile – and some compliments.
      </p>
      <h3 class="colour1"> WHO DESIRES A FULLER, POUTIER LIP SHAPE.</h3>
      <p class="colour2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
  </div>
  <div class="center-div">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/cicekli.png" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/woman.png" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/female.png" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="responsive-two-columns">
    <div>
      <img src="assets/images/female.png" width="600" height="400">
    </div>
    <div>
      <h4 class="colour1">DADAS DIENSTLEISTUNGEN</h4>
      <h2 class="colour1">EXPERTISE COUNTS FOR EVERYTHING.</h2>
      <div class="slide-left2">
        <p>
          A prescriber, Member of the Royal Pharmaceutical Society and
        </p>
        <p>
          advanced aesthetics practitioner, Rupesh has spent the last 10
        </p>
        <p>
          years focusing primarily on the care and wellbeing of his
        </p>
        <p>
          aesthetics patients, with lip fillers London being at the core of his
        </p>
        <p>
          attention. In this time he has crafted an enviable reputation as the
        </p>
        <p>
          greatest Lip Injector in London, and his strong celebrity following
        </p>
        <p>
          along with an International appeal for VIP patients is a testament
        </p>
        <p>
          to his expertise.
        </p>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>


    </div>
  <div class="naturalborder1">
  <div class="responsive-two-columns" >
        <div style="text-align:center">

          <br>
          <br>
          <h4>BABAS DIENSTLEISTUNGEN</h4>
          <h2>Entrümpelung Berlin – faire und transparente Preise</h2>
          <p> in Berlin erheblich variieren. Darüber hinaus muss
            </p>
          <p>
            auch der Größe und der Art der zu entsorgenden Möblierung
          </p>
          </div>
        <div style="text-align:center">
          <br>
          <br>
          <h4>BABAS DIENSTLEISTUNGEN</h4>
          <h2>Entrümpelung Berlin – faire und transparente Preise</h2>
          <p> in Berlin erheblich variieren. Darüber hinaus muss
          </p>
          <p>
            auch der Größe und der Art der zu entsorgenden Möblierung
          </p>
<!--          <img src="assets/images/bitkili.png" class="w3-round" max-width="750" height="200">-->
        </div>
        </div>
  </div>
  <br>
  <br>

  <div class="responsive-three-columns">
    <div class="item">
      <div class="zoom">
        <img src="assets/images/aesthetic-1.jpg" class="w3-round">
<!--        <p>Text Text Text Text Text Text</p>-->
      </div>
    </div>
    <div class="item">
      <div class="zoom">
        <img src="assets/images/aesthetic-2.jpg" class="w3-round">
<!--      <p>Text Text Text Text Text Text</p>-->

      </div>
    </div>

    <div class="item">
      <div class="zoom">
      <img class= deneme1 src="assets/images/aesthetic-3.jpg" class="w3-round">
<!--      <p>Text Text Text Text Text Text</p>-->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="naturalborder1" style="text-align:center">
    <h2 > Rupesh doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>
    <p>
      Rupesh based in world famous Harley Street London, believes that the most exceptional lips appear to have had nothing injected at all. They are simply balanced, full and natural looking lips. Through employing the non-surgical lip filler techniques that Rupesh has perfected, he knows you will be leaving the London Lip Clinic with nothing but a smile – and some compliments.
    </p>
    <h3> WHO DESIRES A FULLER, POUTIER LIP SHAPE.</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>

  <!--<div class="naturalborder">
    <google-map width="1293" height="400"[options]="mapOptions"></google-map>
  </div>-->
<!--  <div class="shadow">-->
<!--    <img class="logo" src="assets/images/woman.png" width="600" height="400">-->
<!--  </div>-->

    <!--<div class="center-div" >
      <div class="bodytext3" style="text-align:center">
        <div class="hockerimg">
          <h4>BABAS DIENSTLEISTUNGEN</h4>
          <h2>Jetzt Kontakt aufnehmen!</h2>
          <p>Service wird bei uns Großgeschrieben! Alle Anfragen werden binnen 24H von uns beantwortet. </p>
          <a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button5" >MEHR ERFAHREN</button></a>
        </div>
      </div>
    </div>-->
<br>
<br>
<br>
<!--  <div class="center-div" style="text-align:center">-->
    <br>
    <br>
<!--    <h2 class="colour1">BIGGER ISN’T ALWAYS BETTER.</h2>-->

<!--    <h2 class="colour1">BIGGER ISN’T ALWAYS BETTER.</h2>-->
    <!--<div class="three-columns-grid">
      <div class="zoom">
        <img src="assets/images/aesthetic-1.jpg" width="150" height="375">
      </div>
      <div class="zoom">
        <img src="assets/images/aesthetic-2.jpg" width="250" height="375">
      </div>
      <div class="zoom">
        <img src="assets/images/aesthetic-3.jpg" width="250" height="375">
      </div>
    </div>-->
    <br>
    <br>
    <br>
<!--    <h2 class="colour1"> Hello doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>-->
    <br>
<!--  </div>-->
    <!--<div class="naturalborder">
      <h2 class="colour1"> Rupesh doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>
      <p class="colour2">
        Rupesh based in world famous Harley Street London, believes that the most exceptional lips appear to have had nothing injected at all. They are simply balanced, full and natural looking lips. Through employing the non-surgical lip filler techniques that Rupesh has perfected, he knows you will be leaving the London Lip Clinic with nothing but a smile – and some compliments.
      </p>
      <h3 class="colour1"> WHO DESIRES A FULLER, POUTIER LIP SHAPE.</h3>
      <p class="colour2">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>-->

<!--  <div class="center-div" >-->

<!--  </div>-->
   <!-- <div class="body8">
    <div class="alignright5">
      <div class="zoom">
        <img src="assets/images/aesthetic-1.jpg" width="250" height="375">
      </div>
    </div>
    </div>
    <div class="body8">
      <div class="alignright6">
        <div class="zoom">
          <img src="assets/images/aesthetic-2.jpg" width="250" height="375">
        </div>
      </div>
    </div>
  <div class="body8">
    <div class="alignright5">
      <div class="zoom">
        <img src="assets/images/aesthetic-3.jpg" width="250" height="375">
      </div>
    </div>
  </div>
    <div class="body9">
      <div class="naturalborder1">
      <div class="alignleft6">
      <h4>The standard Lorem Ipsum passage</h4>
      <br>
      <br>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      <p>Led quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure. </p>
      <p>Service wird bei uns Großgeschrieben! Alle Anfragen werden binnen 24H von uns beantwortet. </p>
      </div>
    </div>
    </div>-->

<!--<div class="body10">
    <div class="row">
      <div class="alignleft7">-->
      <div class="column">
        <div class="container2">
          <img src="assets/images/hand1.jpg" alt="Avatar" class="image2" style="width:143%">
          <div class="overlay2">
            <div class="text4">LIPSTICK</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container2">
          <img src="assets/images/skincare1.jpg" alt="Avatar" class="image2" style="width:143%">
          <div class="overlay2">
            <div class="text4">SKINCARE</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container2">
          <img src="assets/images/skincare.jpg" alt="Mountains" class="image2" style="width:143%">
          <div class="overlay2">
            <div class="text4">COSMETIC</div>
          </div>
        </div>
      </div>
  <div class="column">
    <div class="container2">
      <img src="assets/images/aesthetic6.jpg" alt="Avatar" class="image2" style="width:143%">
      <div class="overlay2">
        <div class="text4">LIPSTICK</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container2">
      <img src="assets/images/aesthetic4.jpg" alt="Avatar" class="image2" style="width:143%">
      <div class="overlay2">
        <div class="text4">SKINCARE</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="container2">
      <img src="assets/images/aesthetic5.jpg" alt="Mountains" class="image2" style="width:143%">
      <div class="overlay2">
        <div class="text4">COSMETIC</div>
      </div>
    </div>
  </div>
     <!-- </div>
    </div>
</div>-->
    <!--<div class="body11">
      <div class="alignleft8">-->

  <div  style="text-align:center">
    <h2 > Rupesh doesn’t believe you need excessive product to add incredible volume to your lips. Placement is key.</h2>
    <p>
      Rupesh based in world famous Harley Street London, believes that the most exceptional lips appear to have had nothing injected at all. They are simply balanced, full and natural looking lips. Through employing the non-surgical lip filler techniques that Rupesh has perfected, he knows you will be leaving the London Lip Clinic with nothing but a smile – and some compliments.
    </p>
    <h3> WHO DESIRES A FULLER, POUTIER LIP SHAPE.</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>

  <div class="responsive-two-columns">

    <div>
      <img src="assets/images/cicekli.png" width="600" height="400">
    </div>
    <div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <!--<div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>-->
        <div class="form-group col-md-6">
          <label for="inputCity">Adress</label>
          <input type="text" class="form-control" id="inputAdress3" placeholder="1234 Main St">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <br>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <!--        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>-->
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>


<!--        <div class="row">-->
          <br>
          <br>
          <br>
          <!--<div class="alignleft7">-->

            <div class="column">
              <div class="container2">
                <!--        <div class="alignright6">-->

                <img src="assets/images/phone1.jpg" alt="Avatar" class="image2" style="width:143%">
                <div class="overlay2">
                  <div class="text4">CALL US</div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="container2">

                <img src="assets/images/build.jpg" alt="Avatar" class="image2" style="width:143%">
                <div class="overlay2">
                  <div class="text4">ADRESS</div>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="container2">

                <img src="assets/images/sun.jpg" alt="Mountains" class="image2" style="width:143%">
                <div class="overlay2">
                  <div class="text4">OPENING TIMES</div>
                </div>
              </div>
            </div>
          <!--</div>-->
<!--        </div>-->

  <div class="naturalborder1" style="bacground-color:#FDF4E3">
    <div class="row">
      <div class="column1">
        <h5>
          CALL US
        </h5>
        <br>
        <p>
          07956 576666
          <br>
          07956 576666
        </p>
      </div>
      <div class="column1">
        <h5>ADDRESS</h5>
        <br>
        <p>
          8 Harley Street,
          <br>
          London,
          <br>
          W1G 9QY
        </p>
      </div>
      <div class="column1">
        <h5>OPENING
          <br>TIMES  </h5>
        <p>

          Weekdays
          <br>
          9:00am - 9:00pm
          <br>

          Weekends
          <br>
          9:00am - 6:00pm
      </div>
    </div>
    <div class="naturalborder">
      <google-map width="1293" height="400"[options]="mapOptions"></google-map>
    </div>
  </div>

       <!-- <div class="row">
          <div class="column1">
            <h5>
              CALL US
            </h5>
            <br>
            <p>
              07956 576666
              <br>
              07956 576666
            </p>
          </div>
          <div class="column1">
            <h5>ADDRESS</h5>
            <br>
            <p>
              8 Harley Street,
              <br>
              London,
              <br>
              W1G 9QY
            </p>
          </div>
          <div class="column1">
            <h5>OPENING
              <br>TIMES  </h5>
            <p>

              Weekdays
              <br>
              9:00am - 9:00pm
              <br>

              Weekends
              <br>
              9:00am - 6:00pm
          </div>
        </div>-->
    <!--</div>
</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

