<!--<div class="allcolour">-->
<br>
<br>
<div class="centerbody">
  <br>
  <br>
  <br>
  <br>
  <h2>LIP FILLERS LONDON.</h2>
  <br>
  <img src="assets/icons/lipandface.png"  >
  <br>
  <br>
  <h2> LIP FILLER IN LONDON</h2>
  <br>
  <h3>LIP FILLER IS AN INCREDIBLY POPULAR CHOICE FOR ANYONE </h3>
  <br>
   <h3> WHO DESIRES A FULLER, POUTIER LIP SHAPE.</h3>
  <br>
  <p class="centertext">Rupesh says, “People tend to love having more shapely, voluminous, and well-defined lips. We must make sure we don’t go overboard with the lip filler process. So you might want to think about getting your first lip augmentation injections in two treatment rounds, not just one. A secondary follow-up LIP FILLER TOP-UP injection appointment would typically occur at the 2 to 3-week mark after the first round. This ensures that the lip filler injected initially has settled and this is no swelling or inflammation present. Your lips are fully healed and are ready for round 2. As an experienced practitioner, I carefully use just the right amount of filler to enhance lips and give a natural and subtle finish. ”</p>
  <br>
  <h3>DISSOLVING LIP FILLER | WHAT IS LIP FLIP</h3>
  <br>
  <p>Consultation available with Rupesh at our Harley Street Clinic in Central London.</p>
  <br>
<!--  <div class="slide-left">-->
  <h3>LIP FILLERS – LONDON HARLEY STREET</h3>
<!--  </div>-->
  <br>
  <img src="assets/images/boyali.png"  >
  <br>
  <div class="centertext">

  <p>Our Harley Street clinic is located in central London. Rupesh heads this clinic and is a highly specialised and experienced medical aesthetic practitioner who performs advanced lip augmentation injections using an advanced cannula technique on a regular basis.</p>
  <p>He has an interest in facial aesthetics, providing anti-wrinkle treatments and dermal fillers in his London private clinic.</p>
  <p>Rupesh Shah. Reg Number: 2048914</p>
  <p>Best Lip Fillers London 2021, London Lip Clinic London is in a central location close to Hyde Park, Belgravia, Kensington, South Kensington, Bayswater, Fulham, Holland Park, Green Park, Notting Hill. Chelsea, Soho, Knightsbridge,  Battersea, West End, Clapham,  Marylebone, Regents Park, St Johns Wood, Victoria,  Primrose Hill, Earls Court, Mayfair, and Fitzrovia.</p>

  </div>
    <br>
  <iframe width="600" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>
  <br><br>
  <br><br>
  <h3 class="centertext">WHAT IS LIP FILLER?</h3>
  <br><br>
  <div class="centerright">
  <p>
    Lip fillers are made of hyaluronic acid which is a naturally occurring component of soft tissues. Lip fillers can be used to add volume to the red lip, increase definition, and treat vertical creases and wrinkles around the mouth.
  </p>
  <p>
    Lip cosmetic injections can be injected into the upper lip, the lower lip, or both. While small volumes of lip filler can give a nice subtle enhancement, overly aggressive use of fillers can look very unnatural.
  </p>
  <p>
    Your Lip filler consultation at our London Lip Clinic located at 8 Harley Street, London will begin with highly experienced Rupesh who will have a detailed discussion with you to understand your lip goals.  Once the consultation is complete, medical history and a series of before photos are taken.</p>
  <p>

    The best options for treatment for you given Lip Shape and size, and the results that you would likely achieve with each treatment
  </p>
  </div>
<!--  <li class="centerright">Coffee</li>-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3 class="centertext">LIP FILLER RISKS AND SIDE EFFECTS</h3>
  <br>
  <br>
  <h3 class="centerright">ARE LIP INJECTIONS SAFE?</h3>
  <br>
<!--  <section id="thirdbehavior">-->
<!--    <button mat-raised-button color="warn">Mehr erfahren</button>-->
<!--  </section>-->
  <p class="centerright">
    The lip augmentation techniques used by Rupesh at London Lip Clinic are considered both safe and effective. Lip cosmetic injections are a safe and effective way to non surgically augment your lips. Because they are made from hyaluronic acid that is found naturally in the body, there is a very low chance of an allergic reaction. HA fillers do not require an allergy test.
  </p>

  <p class="centerright">
    The procedure is non-invasive and when performed by a qualified medical professional, there is little risk.
  </p>

  <br>

  <h3 class="centertext">FREQUENTLY ASKED QUESTIONS</h3>
  <br>
  <div class="centerright">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          HOW MUCH DO LIP INJECTIONS COST?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>Although fillers are commonly considered a quick and safe procedure you need to be aware of all the risks associated with the procedure. One of the risks includes vascular occlusion (aka blood vessel blockage, which is rare but can lead to tissue death).To avoid this and a botched job, only see a MEDICAL professional like Rupesh, who is highly experienced in this specific procedure. Always ask to see before and after pictures of what the practitioner has done.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          HOW MUCH DO LIP INJECTIONS COST?
        </mat-panel-title>
<!--        <mat-panel-description>-->
<!--          Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <p>
        We generally find that the cheaper brands of lip fillers give horrible “ducky pouts” and cause complications such as infections, lumps etc. You can NOT compare Four Seasons Hotel to the local 2* Hotel. Both are Hotels but everything from the total experience & service to the quality of food and toiletries you receive is different!
      </p>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ARE LIP FILLERS DANGEROUS?
        </mat-panel-title>
        <!--        <mat-panel-description>-->
        <!--          Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
        <!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <p>
        Although fillers are commonly considered a quick and safe procedure you need to be aware of all the risks associated with the procedure. One of the risks includes vascular occlusion (aka blood vessel blockage, which is rare but can lead to tissue death).To avoid this and a botched job, only see a MEDICAL professional like Rupesh, who is highly experienced in this specific procedure. Always ask to see before and after pictures of what the practitioner has done.
      </p>

    </mat-expansion-panel>
  </mat-accordion>
  </div>
<!-- - -->
<!--      <div class="zoom">-->
<!--        <img src="assets/images/ruj.png" width="400" height="600">-->
<!--      </div>-->
</div>

<div class="example-container1"></div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>LIP FILLER RISKS AND SIDE EFFECTS</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Extra Information
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      + PAGE CONTENT
    </button>
  </div>

</mat-drawer-container>

<!--//-->
<!--<div class="body1">-->

<!--&lt;!&ndash;    <div class="transbox">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="assets/images/babas.png" width="100" height="100" >&ndash;&gt;-->
<!--      &lt;!&ndash;      <h1 style="text-align:center">This is heading 1</h1>&ndash;&gt;-->
<!--      <h5 style="color:white;">ENTRÜMPELUNGEN IN BERLIN UND BRANDENBURG</h5>-->
<!--      <div class="boldclass">-->
<!--      <h1><strong>BABAS</strong></h1>-->
<!--      <h1><strong>DIENSTLEISTUNGEN</strong></h1>-->
<!--      </div>-->
<!--      <h4  style="color:white;">Kostenlose Beratung und Transparente Festpreise</h4>-->
<!--      <br>-->
<!--      <h4  style="color:white;">Blitzschnelle Ausführung in 24-48 Stunden nach Auftragsfreigabe</h4>-->
<!--      <br>-->
<!--      <h4  style="color:white;">Fachgerechte Entsorgung und besenreine Übergabe durch eigenes Team</h4>-->
<!--      <br>-->
<!--      <section>-->
<!--        <button mat-raised-button>MEHR ERFAHREN >></button>-->
<!--      </section>-->

<!--      <br>-->
<!--      <br>-->
<!--      <br>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="body2">-->
<!--  <div class="bodytext">-->
<!--<div class="alignleft">-->
<!--<h4 style=" font color= yellow">BABAS DIENSTLEISTUNGEN</h4>-->
<!--<h3>Entrümpelungen in Berlin und Brandenburg</h3>-->
<!--<p>Entrümpelungen können häufig unerwartet benötigt werden. Hierzu spielen verschiedene Faktoren wie der Todesfall aus der Familie oder ein Umzug ins Pflegeheim eine Rolle. Die Entrümpelung ist jedoch sehr zeitaufwendig und kann für die Familie auch eine seelische Belastung sein. Wir als eine Firma für Entrümpelung in Berlin sind in solchen belastenden Situationen gerne für Sie da. Wenn es um die Entrümpelung in Berlin und in der Umgebung geht, sind wir immer die richtigen Partner an Ihrer Seite, denn wir versichern Ihnen nicht nur eine sorgfältige Entrümpelung, sondern auch eine schnelle und besenreine Übergabe.-->
<!--</p>-->
<!--<p>  Als seriöse Entsorgungsunternehmen führen wir die Entsorgungen sowohl fach- als auch umweltgerecht aus. BABAS Dienstleitungen unterstützen auch Ihre Firma, wenn bestimmte Möbelstücke oder Überbleibsel entsorgt werden müssen. Dank unserer Kompetenz können die Entsorgungen sowohl fachkundig als auch kostengünstig ausgeführt werden. Nehmen Sie zu uns Kontakt auf und wir unterstützen Sie als Entsorgungsunternehmen bei den erforderlichen Entsorgungen.-->
<!--</p>-->
<!--<p>  Transparenz ist für die BABAS Dienstleistungen oberstes Gebot. Wir bieten Ihnen für eine Wohnungsauflösung in Berlin unkomplizierte und schnelle Lösungen. Als Kunden erwarten Sie von uns als seriösem Dienstleister für die Wohnungsauflösung eine transparente Darstellung der Preiskalkulation. So wissen Sie, was finanziell auf Sie zukommt. Wir berechnen einzelne Positionen fair und basierend auf unseren Erfahrungswerten. Bei unserer Kalkulation kommt es auf die Quadratmeter der aufzulösenden Wohnung in Berlin an.-->
<!--</p>-->
<!--  </div>-->
<!--    <div class="alignright">-->
<!--      <form>-->
<!--        <div class="form-row">-->
<!--          <div class="form-group col-md-6">-->
<!--            <label for="inputEmail4">Email</label>-->
<!--            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
<!--          </div>-->
<!--          <div class="form-group col-md-6">-->
<!--            <label for="inputPassword4">Password</label>-->
<!--            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="inputAddress">Address</label>-->
<!--          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="inputAddress2">Address 2</label>-->
<!--          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
<!--        </div>-->
<!--        <div class="form-row">-->
<!--          <div class="form-group col-md-6">-->
<!--            <label for="inputCity">City</label>-->
<!--            <input type="text" class="form-control" id="inputCity">-->
<!--          </div>-->
<!--          <div class="form-group col-md-4">-->
<!--            <label for="inputState">State</label>-->
<!--            <select id="inputState" class="form-control">-->
<!--              <option selected>Choose...</option>-->
<!--              <option>...</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="form-group col-md-2">-->
<!--            <label for="inputZip">Zip</label>-->
<!--            <input type="text" class="form-control" id="inputZip">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--            <label class="form-check-label" for="gridCheck">-->
<!--              Check me out-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="custom-file">-->
<!--          <input type="file" class="custom-file-input" id="validatedCustomFile" required>-->
<!--          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>-->
<!--          <div class="invalid-feedback">Example invalid custom file feedback</div>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Sign in</button>-->
<!--      </form>-->
<!--&lt;!&ndash;      <form action="/action_page.php">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="fname">Verfügbarkeit anfragen!</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="fname">Service wird bei uns Großgeschrieben! Alle Anfragen werden binnen 24H von uns beantwortet. </label><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <input type="text" id="fname" name="fname" value="Vorname"><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="lname" name="lname" value="Nachname"><br><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="email" name="email" value="Email-Adresse"><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="tel" name="tel" value="Telefonnummer"><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="anschrift" name="anschrift" value="Anschrift"><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Submit">&ndash;&gt;-->
<!--&lt;!&ndash;      </form>&ndash;&gt;-->
<!--    </div>-->
<!--//-->

<!--</div>-->
<!--  <div class="body3">-->
<!--    <div class="alignleft">-->
<!--      <img src="assets/icons/handshake.png" width="100" height="100" class="hover-1">-->
<!--      <h3 class="hover-1">Entrümpelungen</h3>-->
<!--      <p>ANFRANGEN</p>-->
<!--      <img src="assets/icons/tractor.png" width="100" height="100" class="hover-1">-->
<!--      <h3 class="hover-1">Gewerbeauflösung</h3>-->
<!--      <p>ANFRANGEN</p>-->
<!--    </div>-->
<!--    <div class="alignright2">-->
<!--      <img src="assets/icons/open-door.png" width="100" height="100" class="hover-1">-->
<!--      <h3>Zwangsräumung</h3>-->
<!--      <p>ANFRANGEN</p>-->
<!--      <img src="assets/icons/house.png" width="100" height="100" class="hover-1">-->
<!--      <h3 class="hover-1">Haushaltsauflösungen</h3>-->
<!--      <p>ANFRANGEN</p>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="rightprogress">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="body4">-->

<!--    <div class="alignleft2">-->

<!--    <img src="assets/images/babas.png" width="600" height="600">-->
<!--    </div>-->

<!--  <div class="alignright3">-->
<!--    <div class="bodytext2">-->
<!--    <h4>BABAS DIENSTLEISTUNGEN</h4>-->
<!--    <h2>Entrümpelung Berlin und Brandenburg – Der Vorgang</h2>-->
<!--    <p>Bevor wir mit der Entrümpelung beginnen, benötigen wir noch einige Informationen von Ihnen, um uns ein genaues Bild von der Lage Ihrer Wohnung oder Ihres Hauses zu machen. Gerne können Sie uns per Mail oder per Anruf kontaktieren. Als nächstes vereinbaren wir dann einen Termin vor Ort mit Ihnen und machen Ihnen ein Kostenvorschlag, der auch die fachgerechte Entsorgung der Gegenstände, Möbel und Substanzen beinhaltet. Der Besichtigungstermin ist selbstverständlich kostenlos und auch das Angebot ist nicht verbindlich. Kurz nach der Bestätigung des Angebots wird sich einer unserer Mitarbeiter, der für die Entrümpelung in Berlin zuständig ist bei Ihnen melden, um einen Termin für die Entrümpelung mit Ihnen zu vereinbaren.</p>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->
<!--  <div class="body5">-->

<!--    <div class="alignleft3">-->
<!--      <div class="bodytext2">-->
<!--        <h4>BABAS DIENSTLEISTUNGEN</h4>-->
<!--        <h2>Entrümpelung Berlin – faire und transparente Preise</h2>-->
<!--        <p>Abhängig von der Größe der Wohnung oder des Hauses können die Kosten der Entrümpelung in Berlin erheblich variieren. Darüber hinaus muss auch der Größe und der Art der zu entsorgenden Möblierung Beachtung geschenkt werden, denn ein wichtiger Teil der Entrümpelung ist auch die Entsorgung der nicht mehr benötigten Gegenstände. Um Sie richtig über die Kosten zu informieren, erstellen wir Ihnen erst nach einer Vor-Ort Besichtigung die Rechnung. So können Sie sich sicher sein, dass unsere Preise für die Entrümpelung in Berlin stets transparent und somit nachvollziehbar sind. Noch Fragen? Gerne klären Sie unsere Fachberater über die Entrümpelung in Berlin auf und beraten Sie nach der Klärung aller offenen Fragen zu allen Entsorgungsfragen.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="alignright3">-->
<!--      <div class="my-google-map">-->
<!--        <google-map [width]="null" [height]="null" [options]="mapOptions"></google-map>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="body6">-->

<!--    <div class="alignleft4">-->
<!--      <div class="bodytext3">-->
<!--        <h4>BABAS DIENSTLEISTUNGEN</h4>-->
<!--        <h2>Jetzt Kontakt aufnehmen!</h2>-->
<!--        <p>Service wird bei uns Großgeschrieben! Alle Anfragen werden binnen 24H von uns beantwortet. </p>-->
<!--        <a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button5" >MEHR ERFAHREN</button></a>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--</div>-->
<!--</div>-->
