 <div class="body5">
        <div class="alignleft3">
          <div class="bodytext2">
            <h4 class="colour1">BABAS DIENSTLEISTUNGEN</h4>
            <h2 class="colour1">Entrümpelung Berlin – faire und transparente Preise</h2>
            <p>Abhängig von der Größe der Wohnung oder des Hauses können die Kosten der Entrümpelung in Berlin erheblich variieren. Darüber hinaus muss auch der Größe und der Art der zu entsorgenden Möblierung Beachtung geschenkt werden, denn ein wichtiger Teil der Entrümpelung ist auch die Entsorgung der nicht mehr benötigten Gegenstände. Um Sie richtig über die Kosten zu informieren, erstellen wir Ihnen erst nach einer Vor-Ort Besichtigung die Rechnung. So können Sie sich sicher sein, dass unsere Preise für die Entrümpelung in Berlin stets transparent und somit nachvollziehbar sind. Noch Fragen? Gerne klären Sie unsere Fachberater über die Entrümpelung in Berlin auf und beraten Sie nach der Klärung aller offenen Fragen zu allen Entsorgungsfragen.</p>
          </div>
        </div>
        <div class="alignright3">
          <div class="my-google-map">
            <google-map [width]="null" [height]="null" [options]="mapOptions"></google-map>
          </div>
        </div>
      </div>
      <div class="body6">
        <div class="alignleft4">
          <div class="bodytext3">
            <h4>BABAS DIENSTLEISTUNGEN</h4>
            <h2>Jetzt Kontakt aufnehmen!</h2>
            <p>Service wird bei uns Großgeschrieben! Alle Anfragen werden binnen 24H von uns beantwortet. </p>
            <a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button5" >MEHR ERFAHREN</button></a>
          </div>
        </div>
      </div>

<br>
<br>
<br>
<div class="centerbody">
  <img src="assets/images/tarak.png"  >
  <br>
  <br>
  <h2> STUTTGART </h2>
  <br>
  <h3> GERMANY </h3>
  <br>
</div>
