

.main{
  margin: auto;
    width: 90%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.c {
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: red;
}

.active {
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: block;
  padding: 1em 0;
  text-align: center;
  width: 200px;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

.scrolling-box {
  display: block;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 200px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainbackground{

  width: 100%;
}

.center {
    margin: auto;
    width: 70%;
    padding: 20px;
    display: flex;
    color: black;
  }

h1 {
  font-size: 70px;
}

.body1{

image:url('/assets/images/babas.png');background-repeat:repeat-x;
margin-left: 50px;
     width: 55%;
     padding: 10px;
     color: black;
       background-repeat: repeat-x;
}

div.transbox {
  margin: 5px;
  background-color: #808080;
  opacity: 0.7;
}

section {
    display: table;
  }

.mat-raised-button {
background-color: #red;
}

.img{
background-repeat: no-repeat;}

.body2{
background-color:white;
padding: 50px;
height: 100px;
float: left;
  padding: 15px;
}
.bodytext{
     box-sizing: content-box;
     width: 100%;
float: left;
  padding: 15px;
}
.br {
    display: block;
    margin: 100px 0;
 }
.alignleft {
	float: left;
    width: 60%;
    padding: 50px;
    height: 200px;
}
.alignright {
	float: right;
	width: 30%;
      padding: 50px;
}
.alignright2 {
	float: right;
	width: 30%;
      padding: 50px;
          align-items: center;
          padding-left: 80px;
}

.body3{
padding: 200px;
height: 180px;
float: left;
  padding: 220px;
}

.body4{
padding: 350px;
height: 260px;
float: left;
  padding-left: 20px;
}

.bodytext2{
box-sizing: content-box;
     width: 300%;
float: left;
  padding: 15px;
}

.bodytext3{
background-color: #FDF4E3;
box-sizing: content-box;
     width: 300%;
float: left;
  padding: 15px;
  color:black;
}

.rightprogress{
position: absolute;
  right: 500px;
  width: 600px;
  padding: 10px;
}

.alignleft2 {
	float: left;
    width: 60%;
     padding-right: 80px;
    height: 100px;
}

.alignright3 {
	float: right;
	width: 30%;
          align-items: center;
          padding-right: 130px;
}

.body5{
padding: 350px;
height: 160px;
float: left;
  padding-left: 20px;
}

.alignleft3 {
	float: left;
    width: 30%;
     padding-right: 80px;
    height: 100px;
}

.my-google-map{
  .map-container{
    width: 600px;
    height: 250px;
  }
}
.alignleft4 {

    width: 50%;
     padding-left: 240px;
    height: 100px;
}
.button5 {background-color: #555555;} /* Black */
.button {
  background-color: #E6BB8E; /* #23303B background color */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.body6{
padding: 350px;
height: 260px;
float: left;
  padding-left: 20px;
}

.hover-1 {
  background: linear-gradient(yellow 0 0) left / var(--p,0) no-repeat;
  transition: .4s,background-position 0s;
}
.hover-1:hover {
  --p: 100%;
  background-position: right;
}

div.slide-slow {
  width:100%;
  overflow:hidden;
}
div.slide-slow p {
  animation: 30s slide-left;
}

div.slide-right {
    width:100%;
    overflow:hidden;
  }
  div.slide-right p {
    animation: slide-left 10s;
  }

  @keyframes slide-right {
    from {
      margin-right: 100%;
      width: 300%;
    }

    to {
      margin-right: 0%;
      width: 100%;
    }
  }

div.slide-left {
    width:100%;
    overflow:hidden;
  }
  div.slide-left p {
    animation: slide-left 10s;
  }

  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.centerbody{
  text-align: center;

}

.centertext {
  float: center;
      margin-left: 240px;
      margin-top: 96px;
  left: 250px;
  text-align: left;
  width: 800px;
 }

.lefthead{
text-align: left
}

.centerright{
  margin-left: 380px;
  left: 400px;
  text-align: left;
  width: 600px;
}

.expansionright{
position: relative;
  left: 400px;
  text-align: left;
  width: 200px;
}

.example-container {
  width: 345px;
  height: 900px;
   position: fixed;
  top: 110px;
  left: 0px;
}
.example-container1 {
  width: 345px;
  height: 900px;
  position: fixed;
  top: 73px;
  right: 0px;
  background-color:#E6BB8E;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: left;
  background-color: #E6BB8E ;
  color:white;
}

.example-sidenav {
  padding: 20px;
}

.allcolour{
background-color:#E6BB8E;
color:black;
}

.birhtml {
  scroll-behavior: smooth;
}

.centerbody{
  text-align: center;

}
